@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #E5E1D8, #C5C5B9);
}

main{
    background-color: #E2E3DD;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(60, 6%, 65%, 0.671);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #31312F;
    text-align: center;
    text-shadow: 1px 1px 2px #272725b2;
}

h2{
    text-align: center;
    color: #A09F8D;
}

p{
    text-align: justify;
}