@charset "UTF-8";

div.conteiner{
    display: flex;
    flex-flow: row nowrap;
    background-color: lightsalmon;
}
div.item{
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    flex-basis: 150px;
}
div#id1{
    /*
    flex: 1 1 150px 
    = 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px

    flex: initial
    =
    flex: 0 1 auto

    flex: none 
    =
    flex: 0 0 auto

    flex: auto
    =
    flex: 1 1 auto
    */
    flex-grow: 1;
    flex-shrink: 1;
}
div#id2{
    flex-grow: 1;
    flex-shrink: 1;
}
div#id3{
    flex-grow: 1;
    flex-shrink: 1;
}

div#id4{
    flex-grow: 0;
    flex-shrink: 1;
}
div#id5{
    flex-grow: 2;
    flex-shrink: 0;
}
div#id6{
    flex-grow: 1;
    flex-shrink: 2;
}

div#id7{
    flex-grow: 1;
    flex-shrink: 2;
}
div#id8{
    flex-grow: 2;
    flex-shrink: 1;
}
div#id9{
    flex-grow: -1;
    flex-shrink: 4;
}